<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>nombre:Graciela</h2>
    <h2>apellido:Gallas</h2> 
    <h2>edad:63</h2> 
    <h2>fecha:30/03/1959</h2> 
    
    <h2>nombre:Cinthia</h2>
    <h2>apellido:Romani</h2> 
    <h2>edad:33</h2> 
    <h2>fecha:03/05/1989</h2> 

    <h2>nombre:Ariel</h2>
    <h2>apellido:Romani</h2> 
    <h2>edad:40</h2> 
    <h2>fecha:16/11/1982</h2> 
</body>
</html>